doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/dist/canvas_game.css')
    script(src="/socket.io/socket.io.js")
    script(src="/jquery/dist/jquery.js")
    script(src="/three.js/three.js")
    script(type="text/javascript" async="" src="http://www.google-analytics.com/ga.js")
    script.
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36647147-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();


  body
    block content
