<!doctype html>
<html>
  <head>
    <title>Snowman Game</title>
    <link  rel='stylesheet' href='/dist/style.css' />
    <script src="/jquery/dist/jquery.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Spinnaker' rel='stylesheet' type='text/css'>
    <link rel="icon"href="/images/favicon.png">

  </script>
  </head>
  <body>
<header>

</header>

<main>
<nav>
<!--      <ul class="detailed">
        <li class='clicked' id='parent'>Master Level
          <ul> 
            <li>One</li>
            <li>Two</li>
            <li>three</li>
            <li>One</li>
            <li>Two</li>
            <li>three</li>
          </ul>
        </li>
      </ul> -->
       <ul class="detailed">
        <li class='clicked title' id='parent2'>Mike Sirrah Blog
          <ul> 
            <li data-location="blog"><span class="back">All Blogs</span><div class='move'></div></li>
            <li data-location="blog"><span class="back">Top Posts</span><div class='move'></div></li>
            <li data-location="blog"><span class="back">Post By Category</span><div class='move'></div></li>
            <li><span class="back">Project Posts</span><div class='move'></div></li>
        
            <div class="space"></div>
            <li><span class="back">Contact</span><div class='move'></div></li>
            <li><span class="back">About me</span><div class='move'></div></li>
        
        
           </ul>       
        </li>
        <li>
         <!--  <ul class='clicked title'>Me
            <li><span class="back">Contact</span><div class='move'></div></li>
            <li><span class="back">About me</span><div class='move'></div></li>
          </ul> -->
        </li>
      </ul>
     <!--  <ul class="smooth">
        <li class='clicked title' id='parent2'>Master Level
          <ul> 
            <li><span class="back">About me</span><div class='move'></div></li>
            <li><span class="back">Blog</span><div class='move'></div></li>
            <li><span class="back">Projects</span><div class='move'></div></li>
            <li><span class="back">Contact</span><div class='move'></div></li>
            <li><span class="back">Pics</span><div class='move'></div></li>
            <li><span class="back">Other</span><div class='move'></div></li>
          </ul>
        </li>
      </ul> -->
</nav>
      <section >
        <article>
           <h2>Mike</h2>
            <h2>sirraH | Harris<h2>
        </article>

      </section>
   <!--     <ul class="smooth">
        <li class='clicked' id='parent2'>Master Level
          <ul> 
            <li>One</li>
            <li>Two</li>
            <li>three</li>
            <li>One</li>
            <li>Two</li>
            <li>three</li>
          </ul>
        </li>
      </ul> -->
   
       <!--  <li>Another level 
          <ul> 
            <li>One</li>
            <li>Two</li>
            <li>three</li>
          </ul>
        </li>
          <li>Another level 
          <ul> 
            <li>One</li>
            <li>Two</li>
            <li>three</li>
          </ul>
        </li> -->
 </main>
  </body>
  <script src="/dist/main.js"></script>
</html>
