$border-left-col: hsla(120, 60%,60%,1);
$menu-move-col: hsla(120, 70%, 70%, 0.5);


*{
  box-sizing: border-box;
  font-family: verdana;
  font-family: spinnaker;
  padding: 0px;
  margin:0px;
}

body {

}

header {
  height: 10vh;
  h1 {
    margin: 20px;
    text-align: left;
    font-size: 40px;
    font-family: inconsolata;
  }
}
main {
  display: flex;
  height: 90vh;
}
nav {
  text-align: center;
  flex: 1;
  margin-left: 20px;
  border-left: 10px solid $border-left-col;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  /*padding-right: 20%;*/
}

section {
  flex: 2;
  /*border: 1px solid black;*/
  padding: 20px;
  display: flex;
  justify-content: center;
}

article {
  padding: 20px;
  max-width: 600px;
  width: 100%;
  line-height: 1.4;
  text-align: justify;
  background: hsla(240, 95%, 99%,1);
  overflow: hidden;
   box-shadow: 0 -4px 2px -4px hsla(240, 95%, 80%,1) inset;
  h2 {
    text-align: center
  }
}


.page {
  display:none;
}

.page.showpage {
  display: block;
  -webkit-animation: 1s showpage ease-in;
}

@-webkit-keyframes showpage {
  from {opacity: 0;}
  to {opacity: 1;}
}

.show {
  box-shadow: 0 -4px 2px -4px hsla(240, 95%, 80%,1) inset;
  opacity: 1;
    background: hsla(240, 95%, 99%,1);
  outline: 0px solid white;
  outline-radius: 10px;
  -webkit-animation: show 1s linear;
}

@-webkit-keyframes show {
  0% { box-shadow: 0 0 0 0 white; opacity: 0;}
  20% { box-shadow: 0 0 0 0 white; opacity: 0;}
  21% { box-shadow: 0 0 5px 5px hsla(300, 70%, 80%, 1); opacity: 1;}
  100% { box-shadow: 0 0 0 0 white; opacity: 1;}
}


/*@-webkit-keyframes show {
  0% { outline: 0px solid white;}
  20% { outline: 0px solid white;}
  21% { outline: 10px solid red;}
  100% { outline: 0px solid white;}
}*/


#parent, #parent2 {
  cursor: pointer;
  background: none;
  width: 200px;
}

ul {
  list-style: none;
  margin: 0px 10px;
  position: relative;
  nav>& {
  padding: 20px 0;
  width: 200px;
  -webkit-animation: border 0.9s linear ;
  line-height: 20px;
  }
}

nav>ul>li {
  padding: 5px 0;
  margin: 0px;
  /*position: absolute;*/
  /*-webkit-animation: nav 0.7s cubic-bezier(0.2, 0.3, 0.4, 1.2 );*/
}

@-webkit-keyframes nav {
  0% {-webkit-transform: translateY(1500px) ;}
  100% {-webkit-transform: translateY(0px) ;}
}

@-webkit-keyframes border {
  0% { border-bottom: 2px solid white; }
  80% { border-bottom: 2px solid white; }
  81% { border-bottom: 2px solid black; }
  100% { border-bottom: 2px solid black; }
}

.space {
  height: 80px;
}
ul li ul {
  display: flex;
  flex-direction: column;
  /*width: 400px;*/
  margin: 0px;
  padding: 0px;
  justify-content: flex-start;
  /*top: 50px;*/
  /*position: absolute;*/
}

ul li ul li {
  width: 200px;
  transition: all 0.2s linear;
  margin: 1px 0;
  height: 40px; 
  position: relative;
  background: hsla(300, 70%, 90%, 1);
  &:hover {
    -webkit-transform: translateX(-5px) skewX(10deg);
  }
}
.move {
  background: $menu-move-col;
  width: 100%;
  height: 100%;
  padding: 10px;
   transition: all 0.2s linear;
}
.back {
  position: absolute;
  padding: 10px;
  width: 100%;
  height: 100%;
  left: 0px;
  opacity: 1;
  .test & {
    opacity: 0.5;
  }
}
.test  {
  -webkit-animation: test2 2s linear;
  & .move {
    -webkit-transform-origin: 100% 50%;
    -webkit-transform: translateX(220px) scaleX(0.1) scaleY(4);
     -webkit-animation: test 0.2s linear;
     opacity: 0;
  }
}

.test:hover {
  -webkit-transform: translateX(0px) scaleX(1) scaleY(1);
}

@-webkit-keyframes test2 {
  0% {-webkit-transform: translateX(-4px) skewX(10deg); opacity: 1;}
  1% {-webkit-transform: translateX(-10px) skewX(20deg);}
  7% {-webkit-transform: translateX(4px) skewX(-10deg);}
  17% {-webkit-transform: translateX(-2px) skewX(5deg); }
  27% {-webkit-transform: translateX(2px) skewX(-5deg); }

  37% {-webkit-transform: translateX(0px) skewX(0deg);}
}


@-webkit-keyframes test {
  0% {-webkit-transform: translateX(-10px) skewX(10deg); opacity: 1;}
  7% {-webkit-transform: translateX(-20px) skewX(20deg);}
  10% {-webkit-transform: translateX(10px) skewX(-10deg);}
  60% {-webkit-transform: translateX(220px) skewX(-10deg); opacity:0.8;}
  100% {-webkit-transform: translateX(220px) scaleX(0.1) scaleY(4); opacity: 0.4;}
}
/*@-webkit-keyframes test {
  0% {-webkit-transform: translateX(0px) scaleX(1);}
  10% {-webkit-transform: translateX(35px)  scaleY(0.95);}
  15% {-webkit-transform: translateX(50px)  scaleY(1.05);}
  20% {-webkit-transform: translateX(50px) scaleY(0.91) ;}
  22% {-webkit-transform: translateX(50px) scaleY(0.91) ;}
  30% {-webkit-transform: translateX(35px) scaleY(1.01);}
  35% {-webkit-transform: translateX(20px) scaleY(0.95);}
  40% {-webkit-transform: translateX(20px) scaleY(0.95);}
  45% {-webkit-transform: translateX(20px) scaleY(0.95);}
  50% {-webkit-transform: translateX(30px) scaleY(1.01);}
  60% {-webkit-transform: translateX(50px) scaleY(0.95);}
  65% {-webkit-transform: translateX(40px) scaleY(1.01);}
  70% {-webkit-transform: translateX(40px) scaleY(0.95);}
  100% {-webkit-transform: translateX(50px) scaleX(1);}
}
*/


@for $i from 1 through 20 {
  .detailed .clicked li:nth-child(#{$i + 0}) { 
    background: hsla( $i * 10 + 120, 60%, 80%,1); 
    -webkit-animation: drop-#{$i} 2s linear;
  };
  

  @-webkit-keyframes drop-#{$i} {
    0% {-webkit-transform: translateY( #{$i * -50}px)  scaleX(1) scaleY(1);}
    9% {-webkit-transform: translateY( #{$i * 50}px)  scaleX(0.8) scaleY(1.2);}
    #{27}% {-webkit-transform: translateY( #{$i * 150}px)  scaleX(0.9) scaleY(1.1);}
    #{36}% {-webkit-transform: translateY( #{$i * -30}px)  scaleX(1) scaleY(1);}
    #{45}% {-webkit-transform: translateY( #{$i * 55}px)  scaleX(1) scaleY(1);}
    #{54}% {-webkit-transform: translateY( #{$i * -10}px)  scaleX(1) scaleY(1);}
    #{64}% {-webkit-transform: translateY( #{$i * 20}px)  scaleX(1) scaleY(1);}
    #{73}% {-webkit-transform: translateY( #{$i * -5}px)  scaleX(1) scaleY(1);}
    #{82}% {-webkit-transform: translateY( #{$i * 5}px)  scaleX(1) scaleY(1);}
    #{91}% {-webkit-transform: translateY( #{$i * -2}px)  scaleX(1) scaleY(1);}
    #{100}% {-webkit-transform: translateY( 0px)  scaleX(1) scaleY(1);}
    
  }

   /* @-webkit-keyframes drop-#{$i} {
    0% {top: 0;}
    7% {top: #{$i * 100 }px; height: 30px;}
    #{11}% {top: #{$i * 29 }px ; height: 40px}
    #{12}% {top: #{$i * 25 }px ; height: 40px}
    #{13}% {top: #{$i * 29 }px ; height: 40px}
    #{17}% {top: #{$i * 72 }px ; height: 40px}
    #{18}% {top: #{$i * 80 }px ; height: 40px}
    #{23}% {top: #{$i * 20}px ; height: 24px}
    #{24}% {top: #{$i * 19}px ; height: 24px}
    #{26}% {top: #{$i * 47}px ; height: 48px}
    #{27}% {top: #{$i * 50}px ; height: 48px}
    #{29}% {top: #{$i * 35}px ; height: 26px}
    #{31}% {top: #{$i * 47}px ; height: 44px}
    #{33}% {top: #{$i * 35}px ; height: 28px}
    #{35}% {top: #{$i * 42}px ; height: 40px}
  /*  #{36}% {top: #{$i * 40}px ; height: 39px}
    #{38}% {top: #{$i * 42}px ; height: 40px}*/
  /*}*/
}

@for $i from 1 through 20 {
  li:nth-child(#{$i + 0}) { 

    background: hsla( $i * 10 + 120, 60%, 80%,1); 
    .smooth .clicked & {
    -webkit-animation: smooth-drop-#{$i} 0.9s cubic-bezier(0.815, 10.650, 0.555, -1.010);
    }
  };

  .smooth  .clicked li:nth-child(#{$i + 0}):hover { 
    background: hsla( $i * 10  + 300 , 60%, 80%,1); 
  }
  @-webkit-keyframes smooth-drop-#{$i} {
    0% { -webkit-transform: translateY(-100px)  scaleX(1.1) scaleY(0.8);}
    #{100}% {-webkit-transform: translateY(0px) scaleX(1) scaleY(1);}
  }
}