<!doctype html>
<html>
  <head>
    <title>Blog</title>
    <link  rel='stylesheet' href='/dist/style.css' />
    <script src="/jquery/dist/jquery.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Spinnaker' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type=" text/css">
    <link href='http://fonts.googleapis.com/css?family=Jura' rel='stylesheet' type='text/css'>
    <link rel="icon"href="/images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <script src="/handlebars/handlebars.js"></script>
    <script src="/dist/templates.js"></script>
    <script src="/dist/main.js"></script>
  </head>
  <body>
    <main>
      <div>
        <header>
          <a href="/"><h1>Blog : Mike MJ Harris</h1></a>
          <ul class='menu'>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </header>

        <nav>
          <ul class="detailed"><span>Blog</span>
            <li class='intro-animation title'>
              <ul>
                <li><a href="/posts" class="back">All Posts</a><div class='move'></div></li>
                <li><a href="/category" class="back">Post By Category</a><div class='move'></div></li>
                <li><a href="/projects" class="back">Projects</a><div class='move'></div></li>
                <div class="space"></div>
                <li><a href="/contact" class="back">Contact</a><div class='move'></div></li>
                <li><a href="/about" class="back">About me</a><div class='move'></div></li>
                <li class="mobile"><a data-navigate="true" title="Follow @MikeMJHarris on Twitter" target="_blank" href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Flocalhost%3A8000%2Fposts%23&amp;region=follow_link&amp;screen_name=MikeMJHarris&amp;tw_p=followbutton">{{> "_twitter-follow" }}</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>

      <section>
        <article>
          {{{body}}}
        </article>
      </section>

      <div id='twitter-logo' class="desktop">
        <a title="Follow @MikeMJHarris on Twitter" target="_blank" href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Flocalhost%3A8000%2Fposts%23&amp;region=follow_link&amp;screen_name=MikeMJHarris&amp;tw_p=followbutton">
          {{> "_twitter-follow" }}
        </a>
      </div>
    </main>
  </body>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-36647147-9', 'auto');
  ga('send', 'pageview');
</script>



</html>
