<!doctype html>
<html>
  <head>
    <title>Blog</title>
    <link  rel='stylesheet' href='/dist/style.css' />
    <script src="/jquery/dist/jquery.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Spinnaker' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type=" text/css">
    <link href='http://fonts.googleapis.com/css?family=Jura' rel='stylesheet' type='text/css'>
    <link rel="icon"href="/images/favicon.png">
   
    <script src="/handlebars/handlebars.js"></script>
      <script src="/dist/templates.js"></script>
    <script src="/dist/main.js"></script>
  </head>
<body>
<header>
    <h1>Blog : Mike Sirrah</h1>
  </header>
  <main>
    <div>
      <nav>
       <ul class="detailed">Blog
        <li class='intro-animation title'>
          <ul> 
            <li data-location="blog"><a href="#" class="back">All Posts</a><div class='move'></div></li>
            <li data-location="blog"><a href="#" class="back">Top Posts</a><div class='move'></div></li>
            <li data-location="blog"><a href="#" class="back">Post By Category</a><div class='move'></div></li>
            <li><a href="#" class="back">Project Posts</a><div class='move'></div></li>    
            <div class="space"></div>
            <li data-location="contact"><a href="/contact" class="back">Contact</a><div class='move'></div></li>
            <li data-location="about"><a href="/about" class="back">About me</a><div class='move'></div></li>   
          </ul>       
        </li>
      </ul>
    </nav>
  </div>
      <section>
        <article>
          {{{body}}}
        </article>
      </section>



</body>

</html>