
<h2>About me</h2>
<div class="content">

  <p>
    I'm a software at <a target="_blank" href="http://www.moo.com/uk/">MOO</a> doing a little bit of everything. On the tech side our team has been working on integrating a new Java based CMS called <a href="https://www.magnolia-cms.com/" target="_blank">Magnolia</a> while at the same time implementing a responsive website redesign.  In my spare time and when life allows I play with whatever interests me - in the last year that has included docker, meteor and web animation.
  </p>

  <p>
    In terms of languages, frameworks and tools I have opinions about many things but like to be open to new ones - things are never as bad or as good as people make out. I like Angular and I like React and see advantages of them in different places.  I spent 2015 mainly working with Node and 2016 with Java. More important than the language is how you design your code.
  <p>
    I'm lucky at MOO as we have a wide range of talents and in my job I get to interact with designers, UX and developers across the range. It is very much a <a target="_blank" class="show-link" href="http://chiefexecutive.net/ideo-ceo-tim-brown-t-shaped-stars-the-backbone-of-ideoae%E2%84%A2s-collaborative-culture/">T-shaped role</a>. I get to learn and share in equal measure.
  </p>

  <p>
    Computers are great and coding is (mostly) fun but getting away from the screen is important. I help organise <a target="_blank" href="http://techrunners.org/">Techrunners</a> in London where we go on weekly jogs around Shoreditch and enter the odd race.  As with coding I try and improve both my breadth and depth of skills - I've spent many years perfecting my running but have recently taken to the water to try and improve my swimming.  Tips and thoughts from any swimmers out there greatly appreciated.
  </p>

  <p>
    The tech community is generally very good at sharing. I've learnt lots from others and continue to ask for help and advice.  To give back I do regular talks at <a target="_blank" href="https://generalassemb.ly/">General Assembly</a>. If you feel I can help you in any way feel free to drop me a message - details are on my <a href="/contact">contacts</a> page.
  </p>

</div>
