
<h2>About me</h2>
<div class="content">

  <p>
    I'm the technical lead at <a target="_blank" href="royalacademy.org.uk">Royal Academy of Arts</a>. Across various roles over the years I've worked with a wide range of technologies - specifically Node, Java, PHP and Ruby along with various frontend frameworks such as Angular and React as well as working on infrastructure solutions. I'm equally happy across all parts of the stack - for fun though I love playing with SVG and CSS</p>


  <p>
    Computers are great and coding is (mostly) fun but getting away from the screen is important. I help organise <a target="_blank" href="https://www.facebook.com/groups/techrunnersldn/">Techrunners</a> in London where we go on weekly jogs around Shoreditch and enter the odd race. We will be kicking off <a href="https://www.facebook.com/techswimmers/">tech swimmers</a> once hackney council finally sort out London Fields Lido. 
  </p>

  <p>
    The tech community is generally very good at sharing. I've learnt lots from others and continue to ask for help and advice.  To give back I do regular talks at <a target="_blank" href="https://generalassemb.ly/">General Assembly</a>. If you feel I can help you in any way feel free to drop me a message - details are on my <a href="/contact">contacts</a> page. I also have some availability for mentoring.
  </p>

</div>
