
            <h2>About me</h2>
            <div class="content">
            My name's Mike and I'm a web-developer, based in London. 

            I enjoy all the parts that make up a modern web app - my brain enjoys working on the backend, my spirit thrives on tangling with javascript and my soul loves css (as much as you can love css..). 

            In terms of technologies I like to use the one that is best for the job - if that invloves me learning something new and interesting even better. So far I've built apps using Ruby on Rails, Node, Backbone and Angular. 

Currently a Guiness World Record Holder. 

You can learn more about me by reading my blog.

On a slightly drier note you can head over to linkedin and see what I have been up to professionally.
</div>