
<h2>About me</h2>
<div class="content">

  <p>
    <em>***UPDATE***</em> - as of October 2015 I will be working at <a href="http://www.moo.com/uk/">Moo</a> Once I work out more about what I will be doing there I'll update this about page
  </p>
  <p>
    During the working week I build modern web apps at <a class="show-link" href="https://mammal.io">Mammal.io</a>. When I have spare time I like to build fun side projects usuallly with a visual bent. I am lucky in that I get to be involved in all aspects of building digital projects - from front end design, to back end structure, UX flow through to continuous intergration and deployment. At the moment my typical stack is based on javascript - Node / Angular / CouchDB / Redis.
  </p>

  <p>
    Learning is key to developing and I am passionate about my own learning experience and helping others to improve. Personally I work hard to develop my T shaped skills - constantly trying to find the right balance between trying new and exciting tools and deepening my understanding of the languages and areas that I am already familiar with. Professionally I work for a company that provides education software to schools. In the past I have studied and worked with <a href="https://generalassemb.ly/" target="_blank" class="show-link">General Assembly</a> - it is inspirational being part of someone else changing their opportunities in life.
  </p>

  <p>
    I've always enjoyed a wide range of exercise and have found it even more important when your day job and evening hobbies invole tapping away at a computer. The one constant throughout my life has been running but in more recent years I have started doing regular yoga, attempted a couple of triathlons and completed an ice skating marathon in Finland.  Despite being terrible at swimming I have signed up to an open water race later this year - any advice on how not to drown would be much appreicated.
  </p>
  <p>
    My crowning glory was briefly holding a <a href="http://www.guinnessworldrecords.com/news/2014/2/virgin-london-marathon-runners-how-you-could-become-a-world-record-holder-46786" class="show-link" target="_blank">Guiness world record</a>.
  </p>

  <p>
    Feel free to get in touch for any reason but specifically if you want to chat code, you are thinking of becomming a developer and want some advice or if you have some swimming tips.
  </p>

</div>
