
<h2>About me</h2>
<div class="content">

  <p>
    I'm the technical lead at <a target="_blank" href="royalacademy.org.uk">Royal Academy of Arts</a>. Across various roles over the years I've worked with a wide range of technologies - specifically Node, Java, PHP and Ruby along with various frontend frameworks such as Angular and React. Happy doing infrastructure work (ansible/chef) or wrangling YAML and docker for pipeline work. I'm equally happy across all parts of the stack - for fun though I love playing with SVG and CSS</p>

  <p>
    On tuesdays I help organise <a target="_blank" href="https://www.facebook.com/groups/techrunnersldn/">Techrunners</a>. We go on weekly jogs around mainly East London and enter the odd race. Come and join us! 
  </p>

  <p>
    Outside of work I do a variety of mentoring - both 1-1 or giving talks at coding schools. Generally happy to answer all well intentioned requests.  If you are looking for a more regular mentoring then feel free to message and I'll let you know how my schedule is. Can also intro you to others who may be able to help.
  </p>

</div>
