
<h2>About me</h2>
<div class="content">

  <p>
    Professionally I'm a developer - currently I'm the technical lead at <a target="_blank" href="https://www.wonderbly.com/uk">Wonderbly</a>. We make beautiful personalised books - my team looks after the React based website, Prismic CMS and some of the Ruby/Node backend. 
  </p> 
  <p>
    Things I'm interested in: love the museum and cultural world and spent a few years as the technical lead at the Royal Academy of Arts. Passionate about education - I have worked in an education focussed startup, ran a coding course for Mum's in Tech and often do talks at General Assembly. Love reading. 
    I also do quite a bit of sport - mainly lots of running and recently trained to be a yoga teacher.
  </p>

  <p>
    On tuesdays I help organise <a target="_blank" href="https://www.facebook.com/groups/techrunnersldn/">Techrunners</a>. We go on weekly jogs around mainly East London and enter the odd race. Come and join us! 
  </p>

  <p>
    Currently I have some availability for mentoring - drop me a messge if you'd might be interested and we can see if there is a mutual fit. 
  </p>

</div>
