<h2>Contact</h2>
<div class="content">
    <ul>
        <li></li>
        <li><a href="mailto:hello@mikemjharris.com">Email: hello@mikemjharris.com</a></li>
        <li><a href="http://www.mikemjharris.com" target="_blank">Website: www.mikemjharris.com</a></li>
        <li><a href="https://twitter.com/mikemjharris" target="_blank">Twitter: @mikemjharris</a></li>
        <li><a href="https://github.com/mikemjharris" target="_blank">Github: mikemjharris</a></li>
        <li><a href="http://codepen.io/mikemjharris/" target="_blank">Codepen: mikemjharris</a></li>
    </ul>
    <p>
        These are the best ways to contact me or follow my tweeting/codepening. More than happy to chat to anyone about anything.
    </p>

    <p>
        In particular if you are new to coding or thinking about a career change would be more that happy to offer advice or mentoring
    </p>
</div>
