<h2>Contact</h2>
<div class="content">
    <p>
        These are the best ways to contact me or follow my tweeting/codepening. More than happy to chat to anyone about anything.
    </p>

    <p>
        In particular if you are new to coding or thinking about a career change would be more that happy to offer advice or mentoring
    </p>

    <ul>
        <li></li>
        <li><a href="mailto:mike.mj/harris@gmail.com">Email: mike.mj.harris@gmail.com</a></li>
        <li><a href="https://twitter.com/mikemjharrris" target="_blank">Twitter: @mikemjharris</a></li>
        <li><a href="http://codepen.io/mikemjharris/">Codepen: mikemjharris</a></li>
    </ul>
</div>
