<h2>Contact</h2>
    <ul>
        <li><a href="svg.html">SVG Animations</a><br></li>
        <li><a href="http://animated-message.mikesirrah.co.uk/">Animated Messages</a><br></li>
        <li><a href="box.html">Box Drop Down</a><br></li>
        <li><a href="advanced_ttt/index.html">Advanced TicTacToe</a><br></li>
        <li><a href="http://star-wars-timeline.sirrahmj.co.uk">Star Wars Twitter Timeline</a><br></li>
        <li><a href="boxspin.html">Spinning Box</a><br></li>
        <li><a href="ga_projects.html">Projects While at General Assembly</a><br></li>
        <li><a href="map.html">Maps</a><br></li>
        <li><a href="canvasClock.html">Clock</a><br></li>   
        <li><a href="Real-O-Meter2.html">Real-o-meter</a><br></li>   
     
        <li><a href="svg.html">SVG Animations</a><br></li>
        <li><a href="http://animated-message.mikesirrah.co.uk/">Animated Messages</a><br></li>
        <li><a href="box.html">Box Drop Down</a><br></li>
        <li><a href="advanced_ttt/index.html">Advanced TicTacToe</a><br></li>
        <li><a href="http://star-wars-timeline.sirrahmj.co.uk">Star Wars Twitter Timeline</a><br></li>
        <li><a href="boxspin.html">Spinning Box</a><br></li>
        <li><a href="ga_projects.html">Projects While at General Assembly</a><br></li>
        <li><a href="map.html">Maps</a><br></li>
        <li><a href="canvasClock.html">Clock</a><br></li>   
        <li><a href="Real-O-Meter2.html">Real-o-meter</a><br></li>   
          <li><a href="svg.html">SVG Animations</a><br></li>
        <li><a href="http://animated-message.mikesirrah.co.uk/">Animated Messages</a><br></li>
        <li><a href="box.html">Box Drop Down</a><br></li>
        <li><a href="advanced_ttt/index.html">Advanced TicTacToe</a><br></li>
        <li><a href="http://star-wars-timeline.sirrahmj.co.uk">Star Wars Twitter Timeline</a><br></li>
        <li><a href="boxspin.html">Spinning Box</a><br></li>
        <li><a href="ga_projects.html">Projects While at General Assembly</a><br></li>
        <li><a href="map.html">Maps</a><br></li>
        <li><a href="canvasClock.html">Clock</a><br></li>   
        <li><a href="Real-O-Meter2.html">Real-o-meter</a><br></li>   
     
        <li><a href="svg.html">SVG Animations</a><br></li>
        <li><a href="http://animated-message.mikesirrah.co.uk/">Animated Messages</a><br></li>
        <li><a href="box.html">Box Drop Down</a><br></li>
        <li><a href="advanced_ttt/index.html">Advanced TicTacToe</a><br></li>
        <li><a href="http://star-wars-timeline.sirrahmj.co.uk">Star Wars Twitter Timeline</a><br></li>
        <li><a href="boxspin.html">Spinning Box</a><br></li>
        <li><a href="ga_projects.html">Projects While at General Assembly</a><br></li>
        <li><a href="map.html">Maps</a><br></li>
        <li><a href="canvasClock.html">Clock</a><br></li>   
        <li><a href="Real-O-Meter2.html">Real-o-meter</a><br></li>  
      </ul>
