<h2>My Blog</h2>


  <p>
    I'm full stack web developer.  I build modern web apps such as this blog.
  </p>
  <p>
    This is my little corner of the internet where I get write about what I want - usually tech but occasionally other thoughts. I also get to use some of my fun svg and css experiments in the wild.
  </p>
  <h3>Latest Post</h3>
  <a class="posts" href="./posts/{{ latestPost.searchtitle }}">
    <div class='highlight'>
      <h4><span>{{ latestPost.title }}</span><span class="desktop">{{ latestPost.date}}</span></h4>
        {{ latestPost.intro }}
    </div>
  </a>


  <h3>Mailing List</h3>

  Get the latest blog post straight to your inbox.


  <form
    class="tinyletter"
    action="https://tinyletter.com/Mikemjharris"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://tinyletter.com/Mikemjharris', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"
  >
    <input
      type="text"
      name="email"
      id="tlemail"
      placeholder="email"
    />
    <input type="hidden" value="1" name="embed"/>
    <input type="submit" value="Subscribe" /><p>

  </form>



