<div>
  <h2>My Blog</h2>


  <p>
    I'm Mike - a full stack web developer who makes modern web apps such as this blog.
  </p>
  <p>
    This is my little corner of the internet where I get to write about what I want - usually tech but occasionally other thoughts. 
  </p>
  <h3>Latest Post</h3>
  <a class="posts" href="./posts/{{ latestPost.searchtitle }}">
    <div class='highlight'>
      <h4><span>{{ latestPost.title }}</span><span class="desktop">{{ latestPost.date}}</span></h4>
        {{ latestPost.intro }}
    </div>
  </a>

  <h3>This Blog</h3>
  <p>
    As well as a place to share thoughts this is a project I use to practice and experiment with fun or interesting technolgies.  You'll notice some funky css and svg animation, the blog as a whole is a progressive web app with offline functionality and it is deployed in the cloud, in docker containers via a custome built ci pipeline.  All these and more I have detailed in various posts.
</p>
</div>


