
<h2>All Posts</h2>



<div class="content">
  <div class="error">{{ error }}</div>

  <ul>
    {{#posts}}
      <li><a class='posts' href='/posts/{{searchtitle}}'><span>{{title}}</span><span>{{ date }}</span></a></li>
    {{/posts}}
    </ul>
</div>
