
<h2>All Posts</h2>



<div class="content">
  <div class="error">{{ error }}</div>
  <ul>
  {{#posts}}


    <li><a class='posts' href='/posts/{{searchtitle}}'>{{title}}</a><span>Mar 15</span</li>
 

{{/posts}}
 </ul>
</div>