{{#post}}

  <div class="header">
    <h2>{{title}}</h2>
    <a href="http://twitter.com/{{_id}}" id="twitter-share">{{> "_twitter-share" }}</a>
  </div>

  <div class="content">
    <p>{{ intro }}</p>
    {{{ body }}}
  </div>

{{/post}}
