<h2>Projects</h2>
<p>
    Here's a list of some of the projects I've built. One day, when time is on my side and there is a following breeze I will attempt to write posts about some of the more interesting projects.
</p>


<h3>Visual / animation</h3>
<ul>
    <li><a class="space-content" href="http://animated-message.mikemjharris.com/" target="_blank"><em>Animated Message:</em>Create your own animated message</a></li>
    <li><a class="space-content" href="http://www.mikemjharris.com/geometric-generator.html" target="_blank"><em>Geometric generator:</em>Create and download a pattern</a></li>
    <li><a class="space-content" href="http://www.mikemjharris.com/svg.html" target="_blank"><em>SVG Animations:</em>A selection of hand crafted SVGs</a></li>
    <li><a class="space-content" href="http://www.mikemjharris.com/box.html" target="_blank"><em>3D Box:</em>CSS 3d box menu</a></li>
</ul>

<h3>Games</h3>
<ul>
    <li><a class="space-content" href="http://snowman.mikemjharris.com/" target="_blank"><em>Snowman:</em>3D snowball fight!</a></li>
    <li><a class="space-content" href="http://multi-snowman.mikemjharris.com/" target="_blank"><em>Snowman Multi:</em>Multi Player Game</a></li>
    <li><a class="space-content" href="http://www.mikemjharris.com/advanced_ttt/index.html"><em>Advanced TicTacToe:</em>3x as hard</a></li>
</ul>
<h3>Fun</h3>
<ul>
    <li><a class="space-content" href="http://star-wars-timeline.sirrahmj.co.uk" target="_blank"><em>Star Wars Twitter Timeline:</em>tweets!</a></li>
    <li><a class="space-content" href="http://vhstube.sirrahmj.co.uk" target="_blank"><em>VHSTube:</em>Retro youtube wrapper</a></li>
</ul>


