<h2>Talks</h2>

<div class="content">
  <p>Collection of talks I've given over the years. They range from technical talks through to discussions around process and also explaining technical topics to a non technical crowd</p>

  <p>Happy to consider talking at your event - feel tree to <a href="/contact">contact me</p>

  <div class="article-section">
    <h3>Talks</h3>
    <ul>
    {{#posts}}
      {{#includes tags 'talk' }}
        <li><a class='posts space-content' href='/posts/{{searchtitle}}'><span>{{title}}</span><span>{{ date }}</span></a></li>
      {{/includes }}
    {{/posts}}
   </ul>
  </div>

</div>
